<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<main layout:fragment="main">
    <div th:if="${param.success}" class="container alert alert-success" role="alert" th:text="${param.success}"></div>
    <div th:if="${param.error}" class="container alert alert-danger" role="alert" th:text="${param.error}"></div>
    <div class="container mt-4">
        <h1>User Profile</h1>
        <hr>
        <form>
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control-plaintext" id="username" th:field="${user.accountName}"
                        readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" th:field="${user.email}" readonly>
                    <small class="form-text text-muted">Click the button below to change your email.</small>
                    <button type="button" class="btn btn-primary mt-2" id="change-email-btn" data-toggle="modal"
                        data-target="#change-email-modal">Change Email</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="********" readonly>
                    <small class="form-text text-muted">Click the button below to change your password.</small>
                    <button type="button" class="btn btn-primary mt-2" id="change-password-btn" data-toggle="modal"
                        data-target="#change-password-modal">Change Password</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <a type="button" class="btn btn-danger float-right" id="logout-btn"
                        th:href="@{/account/logout}">Logout</a>
                </div>
            </div>
        </form>
    </div>

    <!-- Change Email Modal -->
    <div class="modal fade" id="change-email-modal" tabindex="-1" role="dialog"
        aria-labelledby="change-email-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" th:action="@{/account/profile/email/update}" th:object="${emailForm}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="change-email-modal-label">Change Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">New Email:</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter new email" th:field="*{email}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Change Password Modal -->
    <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog"
        aria-labelledby="change-password-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" th:action="@{/account/profile/password/update}" th:object="${passwordForm}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="change-password-modal-label">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="oldPassword">Current Password:</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                placeholder="Enter current password" th:field="*{oldPassword}">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New Password:</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                placeholder="Enter new password" th:field="*{newPassword}">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                placeholder="Confirm new password" th:field="*{confirmPassword}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

</html>