<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<main layout:fragment="main">
    <div class="container mt-4">
        <h1>Package Details</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Tracking Number:</strong> 1Z1234567890123456</p>
                <p><strong>Shipped From:</strong> John Smith, 123 Main St, Anytown, USA</p>
            </div>
            <div class="col-md-6">
                <p><strong>Status:</strong> In Transit</p>
                <p><strong>Shipped To:</strong> Jane Doe, 456 Maple Ave, Anytown, USA</p>
            </div>
        </div>
        <p><strong>Package Description:</strong> Small Box</p>
    </div>
</main>

</html>