<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<main layout:fragment="main">
    <div class="container mt-5">
        <h1>Welcome to Mini UPS</h1>
        <p>We are a global logistics company that provides comprehensive package delivery, transportation, and
            logistics
            services to businesses and consumers worldwide.</p>
        <br>
        <h2>Track Your Shipment</h2>
        <form>
            <label for="tracking-number">Enter your tracking number:</label>
            <input type="text" id="tracking-number" name="tracking-number">
            <button type="submit" class="btn btn-primary">Track</button>
        </form>
        <br>
        <h2>Shipping Services</h2>
        <ul>
            <li>Domestic Shipping</li>
            <li>International Shipping</li>
            <li>Freight Shipping</li>
            <li>Customs Brokerage</li>
            <li>And more...</li>
        </ul>
    </div>
</main>

</html>