<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Mini-UPS</title>
</head>

<body>
    <header>
        <!-- navbar begin -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="66.644">
                    <path
                        d="M8.333 55.062C3.6 51.187 1.1 45.609 1.1 38.947V7.279c7.474-3.962 16.524-5.97 26.9-5.97s19.427 2.008 26.9 5.97v31.668c0 6.662-2.5 12.236-7.233 16.115-4.33 3.549-18.088 9.586-19.668 10.273-1.578-.687-15.336-6.723-19.666-10.273z"
                        fill="#300" />
                    <path
                        d="M53.427 6.907c-3.458-.321-7.05-.533-10.709-.533-13.57 0-28.118 2.917-40.145 13.948v18.855c0 6.141 2.271 11.269 6.586 14.786 3.81 3.1 15.535 8.41 18.841 9.869 3.264-1.437 14.959-6.677 18.836-9.869 4.342-3.578 6.591-8.587 6.591-14.786V6.907"
                        fill="#ffbe00" />
                    <text x="50%" y="70%" font-family="Georgia" font-size="10" font-weight="bold" fill="#000"
                        text-anchor="middle" alignment-baseline="central">mini</text>
                    <text x="50%" y="48%" font-family="Courier New" font-size="24" font-weight="bold" fill="#000"
                        text-anchor="middle" alignment-baseline="central">UPS</text>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Tracking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/account/order}">Browsing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/services}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/support}">Support</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" th:href="@{/account/profile}">
                <div
                    style="background-color: #ffc400; border-radius: 50%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                </div>
            </a>
        </nav>
        <!-- navbar end -->
    </header>

    <!-- Alters -->
    <div th:if="${param.success}" class="container alert alert-success" role="alert" th:text="${param.success}"></div>
    <div th:if="${param.error}" class="container alert alert-danger" role="alert" th:text="${param.error}"></div>

    <main layout:fragment="main">
    </main>

    <footer class="container text-center mt-5">
        <p>&copy; 2023 MINI UPS. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>