<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="main">
    <div class="container mt-5">
        <h1>Our Shipping Services</h1>
        <p>Delivering what matters most.<br>
           We provide a variety of shipping services to meet your needs:</p>
        <ul>
            <li>Domestic Shipping</li>
            <li>International Shipping</li>
            <li>Freight Shipping</li>
            <li>Customs Brokerage</li>
            <li>And more...</li>
        </ul>
    </div>
</main>

</html>
