<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultreq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="main">
    <div class="container mt-5">
        <h1>Customer Support</h1>
        <p>Get quick access to the right people.<br>
           If you need any assistance or have any questions, please contact our customer help and support team:</p>
        <ul>
            <li>Phone: 1-800-123-4567</li>
            <li>Email: support@miniups.com</li>
            <li>Corporate office:
                8910 Maple Street,
                Mapletown, USA </li>
        </ul>
    </div>
</main>

</html>
